@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
    .clocktickets {
        font-family: 'Share Tech Mono', monospace;
        text-align: center;
        color: #3aafe6;
        opacity: 0.8;
        text-shadow: 0 0 2vh rgba(50, 50, 50, 1),  0 0 1vh rgba(10, 10, 10, 0.1);
        margin: 0;
        padding: 0;
        font-size: 12vh;
    }
    .center {
        margin: auto;
        width: 70%;
        padding: 10px;
        font-family: 'Share Tech Mono', monospace;
        text-align: center;
        color: #3aafe6;
        opacity: 0.8;
        text-shadow: 0 0 2vh rgba(50, 50, 50, 0.5);
        font-size: 15vh;
      }
      .speedometer {
        margin-top: 20px;
        margin-left: -200px;
        width: 40%;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .weather-desc {
        margin-top: -80px;
        font-size: 3vh;
      }
      .real-weather-desc {
        margin-top: 0px;
        font-size: 4vh;
      }
      .speed-text {
        margin-top: -150px;
        font-size: 5vh;
      }
      .real-speed-text {
        margin-top: -70px;
        font-size: 3vh;
      }
      .gust {
        font-size: 3vh;
      }
      .wind-dir {
        font-size: 3vh;
      }
      .temp-text {
        font-size: 5vh;
        margin-top: -100px;
        margin-left: -150px;
      }
      .widget {
        border-radius: 20px;
        height: 300px;
        width: 300px;
        border: 2px solid rgba(0, 0, 0, .5);
        background-color: rgba(255,255,255,0.99);
        box-shadow: 5px 5px rgba(0,0,0,0.5);
      }
      .thermometerwidget {
        margin-left: -200px;
        margin-top: -350px;
        padding-top: 70px;
      }
      .thermometer {
        margin-left: 130px;
        margin-top: -65px;
      }
      .weather-widget {
        margin-left: -200px;
        margin-top: 20px;
        padding-top: 20px;
        height: 300px;
        width: 300px;
      }
      .real-weather-widget {
        margin-left: -300px;
        margin-top: 20px;
        padding-top: 20px;
        height: 300px;
        width: 400px;
      }
      .clock-div {
        border-radius: 20px;
        border: 2px solid rgba(0, 0, 0, .5);
        background-color: rgba(255,255,255,0.99);
        box-shadow: 5px 5px rgba(0,0,0,0.5);
        margin-top: 40px;
        margin-bottom: 100px;
        width:55%;
        margin-left: 270px;
      }
    body {
    background-color: #000;
    color: #fff;
    }
    .scanned {
        font-size: 5vh;
    }
    .logo {
      margin-left: 850px;
    }
    .real {
      margin-left: 1400px;
      margin-top: -940px;
    }
}